html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: lightgray;  
    /* color: #323232; */
}

body {
    height: 100vh;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(75, 26, 155), rgb(111, 5, 5)); /* comment out if it looks weird*/
    background-attachment: fixed;
}

h2 {
    font-family: 'Proza Libre', sans-serif;
}

a {
    color: lightgray;
    /* color: #323232; */
    text-decoration: none;
    font-weight: 600;
}

.text-link {
    color: yellow;
    text-decoration: underline;
}

.text-link:hover {
    color: lightgreen;
}

.text-link:active {
    color: red;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray; /* color: #323232; */
}

#logo {
    margin-right: auto;
}

.navigation-items {
    margin-left: auto;
    list-style: none;
    padding-left: 20px;
    margin: 0;
}

.navigation-item {
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* About Me */
#about-me {
    padding: 1rem 0;
}

.about-me-container {
    display: flex;
    align-items: center;
}

.about-me-text-container {
    flex: 1;
    padding-right: 20px; /* Adjust the padding as needed */
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%; /* Adjust the width as needed */
}

#official-photo {
    width: 100%;
    border-radius: 8px; /* Optional: Add border radius for a rounded image */
}

#family-photo {
    display: none;
}

@media only screen  and (max-width: 600px) {
    .about-me-container {
        flex-direction: column;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    #official-photo,
    #family-photo {
        width: 40%;
        margin: 1rem 0;
        border-radius: 8px; /* Optional: Add border radius for a rounded image */
    }

    #family-photo {
        display: block;
    }
}

/* Projects */
details summary {
    margin-left: 20px;
    list-style: circle; /* Use a disc as the bullet point */
    display: list-item; /* Display as a list item to show the bullet point */
    cursor: pointer; /* Show a pointer cursor on hover for the summary */
}

.sudoku-image-container {
    max-width: 45%; /* Make the image responsive within its container */
}

.sudoku-image-container h3 {
    margin: 5px auto;
}

.sudoku-image-container img {
    max-width: 100%;
}

.sudoku-image-container {
    display: inline-block;
    margin: 10px; /* Adjust the margin between images as needed */
}

@media only screen and (max-width: 600px) {
    .sudoku-image-container {
        margin: 10px auto;
        max-width: 100%;
    }
}

/* Skills */
.icon-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.tooltip {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 30%;
    top: 0;
    transform: translateX(-50%);
    background-color: black;
    white-space: nowrap;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: #000 #0000 #0000 #0000;
}

.icon-container:hover .tooltip {
    top: -130%;
    visibility: visible;
    opacity: 0.9;
}

.icon-container i {
    font-size: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
}

/* Footer */
:root {
    --skills-distance-from-top: 0; /* default value, overwritten by script.js*/
    --body-distance-from-top: 0; /* default value, overwritten by script.js*/
    --footer-top-margin: 0; /* default value, overwritten by script.js*/
}

footer {
    width: 100%;
    height: 51px;
    margin-top: 98px; /* default value, overwritten by script.js*/
    border-top: lightgray 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
footer a {
    font-size: 30px;
    margin: 10px 20px;
}